.banner-title {
    background:rgba(34, 36, 38, 0.6);
    padding-left: .25em;
    padding-right: .25em;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 5px;
}

.top-nav-link.is-active {
    border-bottom-color: #7c618b;
}
.top-nav-link:hover, .top-nav-link:focus {
    color: #7c618b;
    border-bottom-color: #7c618b;
}

.sub-nav {
    background: url(./images/Banner.png) no-repeat center;
    background-size: cover;
}

a {
    color: #ac7ab8;
}
a:hover {
    color: #ac7ab8;
}

.btn {
    background-color: #7c618b;
    border: none;
}
.btn:hover {
    background-color: #ac7ab8;
}

svg {
    padding-right: 6pt
}